body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: blue;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: red;
}

.states {
  fill: gray;
  stroke: whitesmoke;
  stroke-width: 0.3px;
}
